<%= link_to 'Open a Club', new_club_path, class: 'btn btn-primary btn-lg float-right' %>

<% if user_signed_in? %>
  <div class="card-columns">
    <% @clubs.each do |club| %>
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title"> <%= club.title %> </h3>
            <p class="card-text">  <%= club.description %>  </p>
            <a href="#" class="btn btn-primary">Join Club</a>
          </div>
        </div>
    <% end %>
  </div>
<% end %>
