<%= link_to 'Open a Club', new_club_path, class: 'btn btn-primary btn-lg float-right' %>
<h1>My Clubs</h1>

<% if user_signed_in? %>
  <%= render 'show_clubs_managed' %>
  </br>
  <%= render 'show_clubs_user_belongs_to' %>
<% end %>
