
<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= current_user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Reading:</strong>
</p>

<p>
  <strong>Wish List:</strong>
</p>
<p>
  <strong>Books I have read:</strong>
</p>
