<div class="row">
  <div class="col-md-4 order-md-2 mb-4 p-0 container-sidebar">
    <div class="card mb-4 shadow-sm">
      <%= render 'show_user_card' %>
    </div>
  </div>
  <div class="col-md-8 order-md-1 container-body">
    <div class="mb-3 p-3 bg-white rounded box-shadow">
      <div class="container">
        <h6 class="border-bottom border-gray pb-2 mb-0"> What I Am Reading: </h6></br>
        <%= render 'show_reading' %>
        </br><h6 class="border-bottom border-gray pb-2 mb-0"> My Wish List: </h6></br>
        <%= render 'show_wish_list' %>
        </br><h6 class="border-bottom border-gray pb-2 mb-0"> Books I Have Read </h6></br>
        <%= render 'show_read_books' %>
      </div>
    </div>
  </div>
</div>
