/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 // body { padding-top: 100px; }
 // footer { margin-top: 100px; }
 // table, td, th { vertical-align: middle; border: none; }
 // th { border-bottom: 1px solid #DDD; }

 .container-body {
     // background-color: #957bbe;
     // border-radius: .25rem;
 }

.container-sidebar {
    background-color: #DDA3B2;
    border-radius: .25rem;
}

.post-user-display {
  background-color: #42acc8;
}
.comment-user-display {
  background-color: #97e7fc;
}

.review-user-display {
  background-color: #35d0ba;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.book-content {
    position: relative;
}
.book-content .edit-link {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    fill: white;
}
